@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap');
$color-border-input-default: #D9D9D9;
$color-text-placeholder: rgba(0, 0, 0, 0.25);
$color-text-default: rgba(0, 0, 0, 0.88);
$text-line-height: 24px;
$base-fontsize: 16px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
}
.root {
    display: flex;
    flex-flow: column;
    width: 1200px;
    height: 100vh;
}
.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-x: hidden;
}
.icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.button {
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: #262626;
}
.text_extra-large {
    line-height: 28px;
    font-size: 20px;
}
.text_large {
    line-height: 24px;
    font-size: 16px;
}
.text_regular {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.text_default {
    line-height: 22px;
    font-size: 14px;
}
.text_small {
    line-height: 20px;
    font-size: 12px;
}
.input {
    border: 1px solid $color-border-input-default;
    border-radius: 6px;
    height: 40px;
}
.main{
    display: flex;
    width: 100%;
}
.flex-row {
    display: flex;
    flex-flow: row wrap;
}
.flex-col {
    display: flex;
    flex-flow: column;
}
.centered {
    justify-content: center;
}
.align-right {
    height: 50px;
    width: 50px;
}
.list {
    list-style: none;
}
.main__product-list {
    justify-content: center;
    max-width: 1200px;
    align-self: center;
    gap: 30px;
    margin-bottom: 100px;
}
